
.custom-lavender {
    background-color: #c5aded;
}


.navbar-brand {
    color: #c5aded;
    font-weight: bold;
}


.btn-appointment-outline {
    border: 1px solid #0d6efd;
    color: #0d6efd;
    background: transparent;
    padding: 5px 15px;
    border-radius: 5px;
    text-decoration: none;
}


.service-card {
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.service-card:hover {
    transform: translateY(-10px); 
    background-color: #cecece; 
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

.service-card img {
    transition: transform 0.5s ease;
}

.service-card:hover img {
    transform: scale(1.1); 
}